footer {
    background-color: #181C14;
    color: #ECDFCC;
    padding: 1rem 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links a {
    color: #ECDFCC;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #697565;
}

@media (max-width: 767px) {
    .footer-content {
        flex-direction: column;
        gap: 1rem;
    }
    
    .social-links {
        justify-content: center;
    }
}